.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.canvas {
    width: 842px;
    height: 595px;
    background-color: white;
    float: left;
    display: inline;
}